:root {
    --cor-primaria: #004823;
    --cor-secundaria: #5D4037;
    --cor-terciaria: #8D2A3B;
    --cor-neutra: #FDFDFD;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--cor-neutra);
    color: var(--cor-secundaria);
}

.principal{
    margin:24px 0;
    padding:0, 24px;
    position: relative;
    margin-left: 10px;
}

.principal img{
    width: 45%;
    height: 400px;
    object-fit: cover;
}

.principal figcaption{
    font-size: 13px;
    color: #666;
    border-left: 3px solid #ccc;
  padding-left: 8px;
  margin-top: 6px;

}

p{
    margin-bottom: 16px;
    line-height: 1.7;
}

ul{
    margin: 16px o;
    padding-left: 24px;
}

ul li{
    margin-bottom: 8px;
}